.lexend-normal {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
};

/* .x {
    position: relative;
} */

.color {
    color: black;
    /* position: absolute */

};

.button {
    padding: 20px 20px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: #311ec2;
    border-radius: 20px;
};

.ddd {
    color: rgb(218, 119, 32)
};

.y{
    background-color: white;
    color: black;
}

.y:hover {
    background-color: #311ec2;
}